<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE" packages="ru.shmvsky.log4j.kafka.appender">
    <Appenders>
        <KafkaAppender name="KafkaAppender" topic="logs">
            <Property name="bootstrap.servers">localhost:9092</Property>
            <PatternLayout pattern="%5p [%d{ISO8601}] :  %m%n" />
        </KafkaAppender>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="KafkaAppender" />
        </Root>
    </Loggers>
</Configuration>
